Source: fabric
Section: net
Priority: optional
Maintainer: Chris Lamb <lamby@debian.org>
Build-Depends: debhelper (>= 7.0.50~)
Build-Depends-Indep: python-support, python-setuptools, python-sphinx
Standards-Version: 3.9.2
Vcs-Git: git://github.com/lamby/pkg-fabric.git
Vcs-Browser: https://github.com/lamby/pkg-fabric
Homepage: http://fabfile.org/

Package: fabric
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-paramiko (>= 1.6), python-pkg-resources, python-nose
Suggests: libjs-jquery
Description: Simple Pythonic remote deployment tool
 Fabric is designed to upload files and run shell commands on a number of
 servers in parallel or serially. These commands are grouped in tasks (which
 are regular Python functions) and specified in a 'fabfile.'
 .
 It is similar to Capistrano, except it's implemented in Python and doesn't
 expect you to be deploying Rails applications.
